body{
    background:#f9fbfd;
    /* font-family: 'Quicksand', sans-serif; */
    
  }
  #signup{
    padding-top: 20px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 20px;
  }
  #signup .card{
    background-color:#dfdbe5;
    border-radius:8px;
    border:0;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0);
  }
  #signup .card .card-title{
    padding: 2rem 1.2rem 0;
    margin-bottom:0;
    text-align:center;
  }
  #signup .card .card-title h2{
    position:relative;
    font-size:1.2rem;
    letter-spacing:.5px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px;
  }
  #signup .card .card-title h2:after{
    position:absolute;
    content:'';
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
    height:2px;
    width:50px;
    background:#21253d;
  }
  .img-holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    height:80px;
  }
  .form{
    background:#fff;
    padding:20px 30px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
    
  .c-input {  	
      width: 100%;
      
      margin-bottom: 15px;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #12739E;
      border-radius: 4px;
  
    }
    
  .c-button {
      width: 100%;
      padding: 10px 30px;
      
      font-size: 15px;
      color: #fff;
      text-transform : uppercase;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #12739E;    
      cursor: pointer;  
      
    }
  
    a:link {
      text-decoration: none;
      color: #000;
      padding-top: 25px;
      padding-left: 25px;
      text-align: center;
    }
    
    a:visited {
      text-decoration: none;
      color: #000;
      text-align: center;
    }
    
    a:hover {
      text-decoration: underline;
      color: rgb(85, 85, 85);
      text-align: center;
    }
    
    a:active {
      text-decoration: underline;
      text-align: center;
    }

.plsgod {
    padding-left: 100px;
    padding-right: 75px;
}

.plsbutton {
    padding-top: 20px;
    padding-left: 40px;
}